#
#container_commands:
#  01_migrate:
#    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
#    leader_only: true
#  02_collectstatic:
#    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
#    leader_only: true

#option_settings:
  # optional: configure the health check path to /health (helps EB judge application health)
#  aws:elasticbeanstalk:application:
#    Application Healthcheck URL: "/health"