container_commands:
  01_migrate:
    command: "source /var/app/venv/staging/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/staging/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SECRET_KEY: "your-super-secret"
    DJANGO_SETTINGS_MODULE: "config.settings"
    DATABASE_NAME: "terratrackdbname"
    DATABASE_USER: "terratrackadmin"
    DATABASE_PASSWORD: "YourDBPasswordHere"
    DATABASE_HOST: "terratrack-stack-rdsinstance-vj7yndidfbeo.calkki2y43ti.us-east-1.rds.amazonaws.com"
    DATABASE_PORT: "5432"